.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image{
    height: 93vh;
    width: 100%;
}
.heading{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 6rem;
    padding-top: 5%;
    padding-left: 3%;
}
.line1{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 2rem;
    padding-left: 3%;
}
.subbox{
    padding-top: 20%;
    padding-left: 3%;
    max-width:69%;
}
.line2{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5%;

}
.btn1{
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-family: 'Tinos', serif;
    font-size: 1.2rem;
    padding: 2.5%;
    background-color: #6499E9;
    width: 200px;
    border: 1px solid #6499E9;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
} 

.news-component{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #000;
    margin-top: 1%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.like-dislike{
    margin-left: 50%;
}

.ldimg{
    margin-top: 30px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.news-img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.box3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nbits-font>h1{
    font-family: 'Tinos', serif;
    font-size: 2rem;
    font-weight: bold;
}

.sidebar-divs{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer;
}

.sidebar-divs:hover{
    background-color: whitesmoke;
    border: 1px solid #000;
}
.sidebar-heading{
    font-family: 'Tinos', serif;
    font-size: 2rem;
    font-weight: bold;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.main-content{
    margin-left: 30%;
}